html, body{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
}
.container{
  max-width: 10600px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

section {
  background: url(../img/bg-mob.png) no-repeat;
  text-align: center;

  .container {
    .mob-v__logo {
      width: 100%;
      text-align: center;

      img {
        width: 210px;
        height: 25px;
        margin: 0 auto;
        padding-top: 25px;
      }
    }

    .mob-v__description-content {
      color: #fff;
      text-transform: uppercase;

      .mob-v_title {
        padding-top: 30px;
        font-size: 32px;
        line-height: 1.22;
        font-weight: 900;
      }

      .mob-v__description {
        padding-top: 20px;
        line-height: 1.22;
        font-size: 23px;
      }
    }

    .mob-v__car-img {
      margin-top: 65px;

      img {
        max-width: 415px;
        width: 100%;
      }
    }

    .mob-v__footer {
      .mob-v__btn {
        a {
          text-decoration: none;

        }
        max-width: 245px;
        width: 100%;
        height: 45px;
        font-size: 27px;
        color: #140474;
        font-weight: 800;
        background-color: #00de8a;
        letter-spacing: 1.5px;
        margin: 0 auto;
        padding: 23px;

      }

      main {
        width: 100%;
        background-size: cover;
        transition: all .2s ease;
        .button {
          margin-top: 20px;
          padding-bottom: 125px;
          margin-left: auto;
          margin-right: auto;
          font-weight: bold;
          cursor: pointer;

          a {
            color: #fff;
          }
        }
      }
      .overlay {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: none;

        .popup {
          position: absolute;
          width: 100%;
          height: 100vh;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          padding: 40px;
          border-radius: 5px;
          box-sizing: border-box;
          background-color: #11117f;
          color: pink;
        }

        .close-popup {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 23px;
          height: 23px;
          cursor: pointer;

          &:before {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 1px;
            width: 20px;
            top: 11px;
            left: -4px;
            transform: rotate(-45deg);
          }

          &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 1px;
            width: 20px;
            top: 11px;
            transform: rotate(45deg);
            left: -4px;
          }
        }
      }
    }
  }
}





